:root {
    --primary-purple: #938ACB;
    --primary-grey: #4F4B4C;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'MoonBold';
}

@font-face {
    font-family: 'Nunito';
    src: url(assets/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'MoonLight';
    src: url(assets/Moon-Light.otf);
}

@font-face {
    font-family: 'MoonBold';
    src: url(assets/Moon-Bold.otf);
}

nav-component {
    display: grid;
    grid-template-columns: 13.8vw auto 13.8vw;
    background: linear-gradient(180deg, #F3ECFF 42.71%, #F1EFF3 100%);
    height: 80px;
    align-items: center;
    justify-items: center;
    font-family: 'Nunito';
    font-size: 20px;
}

#home {
    height: 666px;
    background-image: url(assets/home-image.webp);
}

h1 {
    color: #FFF;
    width: fit-content;
    font-size: 76px;
    position: relative;
    left: 128px;
    top: 203px;
    letter-spacing: 2px;
}

#home p {
    color: #FFF;
    width: 275px;
    font-size: 32px;
    position: relative;
    left: 128px;
    top: 226px;
    letter-spacing: 1px;
}

main nav {
    display: flex;
    height: 612px;
    align-items: center;
    padding-left: 8.8vw;
}

main nav a {
    width: 24.3vw;
    height: 340px;
    box-shadow: 4px 4px 0px 0px #BA9EC9, 8px 8px 0px 0px #6467AE;
    border: 1.4px solid var(--primary-purple, #938ACB);
    border-radius: 43.6px;
    margin-right: 4.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/cloud.png);
    text-decoration: none;
    color: #FFF;
    font-size: 2.2vw;
}

main nav a span {
    margin-top: 40px;
    background-color: var(--primary-purple, #938ACB);
    padding: 16px 32px;
    border-radius: 10.9px;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    color: var(--primary-purple, #938ACB);
    font-size: 64px;
    border-bottom: 3px solid #C9CBE3;
    border-top: 3px solid #C9CBE3;
    padding: 5px 0;
    letter-spacing: 2px;
}

section > div {
    display: flex;
    width: 82.4vw;
    align-items: center;
}

section > div::before {
    content: "";
    height: 3px;
    background-color: #C9CBE3;
    margin-right: 20px;
    flex-grow: 1;
}

section > div::after {
    content: "";
    height: 3px;
    background-color: #C9CBE3;
    margin-left: 20px;
    flex-grow: 1;
}

#customer-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 740px;
}

#customer-favorites ol {
    display: flex;
    list-style-type: none;
    width: 100vw;
    justify-content: space-evenly;
    margin-top: 37px;
}

#customer-favorites li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#customer-favorites li > img:first-child {
    position: relative;
    right: 103.5px;
    top: 89px;
}

#customer-favorites li > img:nth-child(2) {
    border-radius: 8px;
}

#customer-favorites ol div {
    font-size: 24px;
    width: 240px;
    text-align: center;
    margin-top: 16px;
    letter-spacing: 1px;
}

#opportunities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#opportunities p {
    width: 82.4vw;
    font-family: 'Nunito';
    letter-spacing: 0px;
    font-size: 24px;
    text-align: center;
    margin-top: 56px;
}

#opportunities a {
    margin-top: 56px;
    background-color: var(--primary-purple, #938ACB);
    padding: 24px;
    border-radius: 16px;
    text-decoration: none;
    color: #FFF;
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 136px;
}

#boba-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 989px;
}

#find-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 112px;
}

#find-us address {
    display: grid;
    width: 82.4vw;
    grid-template-columns: [line1] 50% [line2] 44% [line3];
    grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto [row5];
    column-gap: 62px;
    align-items: center;
    font-style: normal;
    margin-top: 72px;
}

#find-us address > a {
    grid-column-start: line1;
    grid-column-end: line2;
    grid-row-start: row1;
    grid-row-end: row5;
}

#find-us address > a img {
    width: 100%;
}

#find-us address > p {
    color: var(--primary-purple, #938ACB);
    font-size: 2.2vw;
    text-align: center;
}

#find-us address .location {
    display: flex;
    align-items: flex-start;
    gap: 17px;
}

#find-us address .phone {
    display: flex;
    align-items: center;
    gap: 8px;
}

#find-us address div p {
    color: var(--primary-grey, #4F4B4C);
    font-family: 'Nunito';
    font-size: 1.7vw;
}

#find-us address .links {
    display: flex;
    justify-content: space-between;
}

#find-us address .links a {
    width: 42%;
}

#find-us address .links img {
    width: 100%;
}

footer-component {
    height: 212px;
    background-image: url(assets/footer-background.png);
    display: flex;
    justify-content: space-between;
}