* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nunito';
    src: url(assets/Nunito-Regular.ttf);
}

nav-component {
    display: grid;
    grid-template-columns: 13.8vw auto 11.2vw;
    background: linear-gradient(180deg, #F3ECFF 42.71%, #F1EFF3 100%);
    height: 80px;
    align-items: center;
    justify-items: center;
    font-family: 'Nunito';
    font-size: 20px;
}

#home {
    height: 666px;
    background-image: url(assets/home-image.png);
}

h1 {
    color: #FFF;
    font-size: 76px;
    position: relative;
    left: 128px;
    top: 203px;
    font-family: 'MoonBold';
    letter-spacing: 2px;
}

h2 {
    color: #FFF;
    width: 275px;
    font-size: 32px;
    position: relative;
    left: 128px;
    top: 226px;
    font-family: 'MoonBold';
    letter-spacing: 1px;
}