html {
    font-size: 50%;
}

* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 120rem;
    margin-inline: auto;
    padding: 0 4.8rem;
}

.menu_heading {
    color: var(--primary-purple);
    font-family: MoonBold;
    font-size: 6.4em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;

    text-align: center;
    margin-top: 4.7rem;
}

.order_online {
    display: flex;
    gap: 3.3rem;
    align-items: center;
    margin-top: 2rem;
}

.order_online .text {
    color: var(--primary-purple);
    font-family: Nunito;
    font-size: 4.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu_pdf_link {
    background-color: #94D9D6;
    text-decoration: none;
    border-radius: 1rem;
    padding: 0.75rem 4rem;

    color: var(--primary-grey);
    font-family: Nunito;
    font-size: 2.4em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.8rem;
    margin-top: 3.8rem;
}

.locations .convoy {
    background-image: url("../../assets/menu/convoy-background.jpg");
}

.locations .national_city {
    background-image: url("../../assets/menu/national-city-background.jpg");
}

.locations .national_city, .locations .convoy {
    max-width: 57rem;
    min-width: 44.5rem;
    height: 29.1rem;
    flex-grow: 1;

    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_elems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 35rem;
    height: 22rem;
}

.convoy .text, .national_city .text {
    color: #FFF;
    text-shadow: 0px 4px 6px rgba(45, 45, 45, 0.5);
    text-align: center;

    font-family: MoonBold;
    font-size: 6.4em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}

.order_btn {
    color: #FFF;
    font-family: Nunito;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    padding: 1rem 4rem;

    border-radius: 2rem;
    border: 0.4rem solid var(--secondary-purple);
    box-shadow: 0px 4px 4px 0px rgba(157, 157, 157, 0.25);
}

a.order_btn:hover {
    background: var(--secondary-purple);
    border-color: var(--secondary-purple);
    color: var(--primary-grey);
}

a.order_btn:active {
    background: var(--primary-purple);
    color: var(--primary-grey);
    border-color: var(--primary-purple);
}

.filter {
    display: flex;
    gap: 1.1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.6rem;
    margin-bottom: 8.4rem;
}

.filter_btn {
    text-decoration: none;
    border-radius: 2rem;
    border: 0.2rem solid #000;

    padding: 1.2rem 2.4rem;

    color: #000;
    background-color: #ffffff;
    font-family: Nunito;
    font-size: 2.4em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filter_btn:not(.selected):hover {
    color: var(--primary-purple);
    border-color: var(--primary-purple);
}

.selected {
    color: #ffffff;
    background-color: var(--primary-purple);
    border-color: var(--primary-purple);
}

.menu_sections {
    display: flex;
    flex-direction: column;
}

.separator {
    width: auto;
    margin-bottom: 6.3rem;
    margin-top: 5.2rem;
}

h2 {
    text-align: center;
    font-family: MoonBold;
    color: var(--primary-purple);
    font-size: 6.4em;
    border-bottom: 3px solid #C9CBE3;
    border-top: 3px solid #C9CBE3;
    padding: 0.5rem 0;
    letter-spacing: 2px;
}

.section_body {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(36.8rem, 1fr));
    justify-items: center;
}

.item_card {
    width: 36.8rem;
    margin-bottom: 8.4rem;
}

.item_card img {
    max-width: 100%;
}

.item_title {
    color: #000;
    font-family: Nunito;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2rem;
}

.item_desc {
    color: #000;
    font-family: Nunito;
    font-size: 2.4em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.5rem;
}

.grid_heading {
    color: #000;
    font-family: Nunito;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2.8rem;
}

h3 {
    color: var(--primary-grey);
    font-family: MoonBold;
    font-size: 3.2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.grid-menu {
    color: var(--primary-grey);
    font-family: Nunito;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27.5rem, 1fr));
    gap: 0 5rem;

    margin-bottom: 8.4rem;
}

@media screen and (max-width: 51.25rem) {
    main {
        max-width: 57rem;
    }
    .order_online {
        justify-content: center;
    }
    .section_body {
        display: flex;
        flex-direction: column;
    }

    .item_card {
        display: flex;
        gap: 3rem;
        width: 100%;
        margin-bottom: 4.2rem;
        align-items: flex-start;
    }
    .item_card img {
        max-width: 20rem;
    }
    .item_title {
        margin-top: 0;
        font-size: 4em;
    }

    h3 {
        text-align: center;
        margin-bottom: 1rem;
    }
    .grid_heading {
        text-align: center;
    }
    .grid-menu {
        text-align: center;
        grid-row-gap: 1.5rem;
    }
}