:root {
    --primary-purple: #938ACB;
    --primary-grey: #4F4B4C;
}

@font-face {
    font-family: 'Nunito';
    src: url(../assets/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'MoonLight';
    src: url(../assets/Moon-Light.otf);
}

@font-face {
    font-family: 'MoonBold';
    src: url(../assets/Moon-Bold.otf);
}

nav-component {
    display: grid;
    grid-template-columns: 13.8vw auto 13.8vw;
    background: linear-gradient(180deg, #F3ECFF 42.71%, #F1EFF3 100%);
    height: 80px;
    align-items: center;
    justify-items: center;
    font-family: 'Nunito';
    font-size: 20px;
}

hamburger-component {
    display: none;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.separator::before,
.separator::after {
    content: "";
    height: 3px;
    background-color: #C9CBE3;
    flex-grow: 0.3;
}

footer-component {
    height: 212px;
    background-image: url(../assets/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

mobile-footer {
    display: none;
}

@media screen and (max-width: 1024px) {
    nav-component {
        display: none;
    }

    hamburger-component {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F3ECFF;
        height: 48px;
        padding-left: 56px;
        padding-right: 56px;
    }

    .separator {
        width: 90.6vw;
    }

    footer-component {
        height: 171px;
    }
}

@media screen and (max-width: 720px) {
    hamburger-component {
        padding-left: 24px;
        padding-right: 24px;
    }

    .separator::before, .separator::after {
        height: 0;
    }

    footer-component {
        display: none;
    }

    mobile-footer {
        display: flex;
        background-image: url(../assets/footer-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: clamp(16px, 12.8px + 1vw, 20px);
        padding: 7px 33px;
    }
}
